<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="n1"></td>
            </tr>
            <tr>
                <th>Age</th>
                <td><input type="number" name="a1"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>